<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
		<section name="eventBusConfigSection" type="EventBus.Config.EventBusConfigSection, EventBus" />
	</configSections>
	<eventBusConfigSection creatorType="EventBus.Implementation.UnityCreator, EventBus">
		<subscribers>
			<assemblies>
				<add assembly="ConsoleRabbitMQ" />
			</assemblies>
			<events>
				<add name="ConsoleRabbitMQ.Message1, ConsoleRabbitMQ" />
				<add name="ConsoleRabbitMQ.Message2, ConsoleRabbitMQ" />
				<add name="ConsoleRabbitMQ.Message3, ConsoleRabbitMQ" />
			</events>
		</subscribers>
		<publishers>
			<assemblies>
				<!--<add assembly="EventBus" />-->
				<add assembly="ConsoleRabbitMQ" />
			</assemblies>
		</publishers>
	</eventBusConfigSection>
	<log4net>
		<root>
			<level value="ALL" />
			<appender-ref ref="ColoredConsoleAppender" />
			<appender-ref ref="LogFileAppender" />
		</root>
		<logger name="NHibernate">
			<level value="ERROR" />
		</logger>
		<logger name="NHibernate.SQL">
			<level value="ERROR" />
		</logger>
		<appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
			<mapping>
				<level value="ERROR" />
				<foreColor value="Red, HighIntensity" />
			</mapping>
			<mapping>
				<level value="DEBUG" />
				<foreColor value="Green, HighIntensity" />
			</mapping>
			<mapping>
				<level value="INFO" />
				<foreColor value="Yellow, HighIntensity" />
			</mapping>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%5level [%thread] (%file:%line) - %message%newline" />
			</layout>
		</appender>
		<appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
			<param name="File" value="BusServiceLog.txt" />
			<param name="AppendToFile" value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%-5level - %date - %message%newline" />
			</layout>
		</appender>
	</log4net>
	<appSettings>
		<add key="RABBITMQ_SERVER" value="127.0.0.1" />
		<add key="RABBITMQ_PROTOCOL" value="AMQP_0_8" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
	<runtime>
		<!--<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Apache.NMS" publicKeyToken="82756feee3957618" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.4.0.2075" newVersion="1.4.0.2075" />
			</dependentAssembly>
		</assemblyBinding>-->
	</runtime>
</configuration>